# 构建输出
target/
.config
Cargo.lock
kernel-la
kernel-rv
kernel-la-kcsan
kernel-rv-kcsan
kernel-la-profile
kernel-rv-profile
disk.img
disk-la.img

# IDE
.idea
.vscode
.claude
.codex
.deepseek
AGENTS.md

build
userland/rootfs-la/bin/
userland/rootfs-rv/bin/
userland/rootfs-la/lib/elm/
userland/rootfs-rv/lib/elm/
drivers/*/.elm/
drivers/*/dist/
drivers/*/.cargo/
drivers/*/Elm.lock
tests/elm/*/.cargo/
tests/elm/*/.elm/
tests/elm/*/dist/
tests/elm/*/elm.ld
tests/elm/*/rust-toolchain.toml

# vendor 不受上述规则限制
!vendor/**
__pycache__/
kernel-la.lock
kernel-rv.lock
kernel-la-kcsan.lock
kernel-rv-kcsan.lock
kernel-la-profile.lock
kernel-rv-profile.lock
