# 此文件由 cargo xtask config 生成，请勿提交构建产物。
CONFIG_FIRMWARE_BUS=y
CONFIG_LOONGSON_IRQ=m
CONFIG_RISCV_PLIC=m
CONFIG_RISCV_PMU=m
CONFIG_RISCV_IOMMU=m
CONFIG_DT_PROVIDERS=m
CONFIG_JH7110_CRG=m
CONFIG_JH7110_PINCTRL=m
CONFIG_JH7110_UART=m
CONFIG_JH7110_MMC=m
CONFIG_JH7110_TRNG=m
CONFIG_LOONGSON_CLK=m
CONFIG_LOONGSON_PINCTRL_GPIO=m
CONFIG_PLATFORM_AHCI=m
CONFIG_LOONGSON_APBDMA=m
CONFIG_LOONGSON_SDIO=m
CONFIG_PCI_HOST_ECAM=m
CONFIG_SYSCON=m
CONFIG_LS2K_GMAC=m
CONFIG_LS2K_TSENSOR=m
CONFIG_LS2K_USB=m
CONFIG_LS2K_I2C=m
CONFIG_LS2K_SPI=m
CONFIG_LS2X_WDT=m
CONFIG_LS2K_RTC=m
CONFIG_LS7A_RTC=m
CONFIG_GOLDFISH_RTC=m
CONFIG_FW_CFG=m
CONFIG_CFI_FLASH=m
CONFIG_UART16550=y
CONFIG_RANDOM=y
CONFIG_NET_STACK=y
CONFIG_NET_LOOPBACK=y
CONFIG_LANGUAGE_RUNTIME=y
CONFIG_VIRTIO=m
CONFIG_VIRTIO_BLK=m
CONFIG_VIRTIO_NET=m
