# 此文件由 cargo xtask config 生成，请勿提交构建产物。
CONFIG_FIRMWARE_BUS=y
CONFIG_LOONGSON_IRQ=m
CONFIG_RISCV_PLIC=m
CONFIG_SYSCON=m
CONFIG_LS7A_RTC=m
CONFIG_GOLDFISH_RTC=m
CONFIG_FW_CFG=m
CONFIG_CFI_FLASH=m
CONFIG_UART16550=y
CONFIG_RANDOM=y
CONFIG_NET_STACK=y
CONFIG_NET_LOOPBACK=y
CONFIG_LANGUAGE_RUNTIME=y
CONFIG_VIRTIO=m
CONFIG_VIRTIO_BLK=m
CONFIG_VIRTIO_NET=m
