# LS2K1000LA 板级构建配置。启动链依赖内建，非关键外设保留为受管 ELM。
CONFIG_FIRMWARE_BUS=y
CONFIG_LOONGSON_IRQ=y
CONFIG_RISCV_PLIC=n
CONFIG_RISCV_PMU=n
CONFIG_RISCV_IOMMU=n
CONFIG_DT_PROVIDERS=y
CONFIG_JH7110_CRG=n
CONFIG_JH7110_PINCTRL=n
CONFIG_JH7110_UART=n
CONFIG_JH7110_MMC=n
CONFIG_JH7110_TRNG=n
CONFIG_LOONGSON_CLK=y
CONFIG_LOONGSON_PINCTRL_GPIO=y
CONFIG_PLATFORM_AHCI=y
CONFIG_LOONGSON_APBDMA=m
CONFIG_LOONGSON_SDIO=m
CONFIG_PCI_HOST_ECAM=y
CONFIG_SYSCON=m
CONFIG_LS2K_GMAC=m
CONFIG_LS2K_TSENSOR=m
CONFIG_LS2K_USB=m
CONFIG_LS2K_I2C=m
CONFIG_LS2K_SPI=m
CONFIG_LS2X_WDT=m
CONFIG_LS2K_RTC=m
CONFIG_LS7A_RTC=n
CONFIG_GOLDFISH_RTC=n
CONFIG_FW_CFG=n
CONFIG_CFI_FLASH=m
CONFIG_UART16550=y
CONFIG_RANDOM=y
CONFIG_NET_STACK=y
CONFIG_NET_LOOPBACK=y
CONFIG_LANGUAGE_RUNTIME=y
CONFIG_VIRTIO=n
CONFIG_VIRTIO_BLK=n
CONFIG_VIRTIO_NET=n
