# QEMU pc/q35 x86_64 平台配置。
# 固件路径由 x86_64 arch loader 选择 ACPI；PCI 设备可使用 virtio-pci 或 AHCI。
CONFIG_FIRMWARE_BUS=y
CONFIG_PLATFORM_AHCI=y
CONFIG_PCI_HOST_ECAM=y
CONFIG_FW_CFG=y
CONFIG_UART16550=y
CONFIG_RANDOM=y
CONFIG_NET_STACK=y
CONFIG_NET_LOOPBACK=y
CONFIG_LANGUAGE_RUNTIME=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
