# QEMU virt 平台配置。固件枚举、控制台、根盘和网络启动链全部内建。
CONFIG_FIRMWARE_BUS=y
CONFIG_LOONGSON_IRQ=y
CONFIG_RISCV_PLIC=y
CONFIG_RISCV_PMU=y
CONFIG_RISCV_IOMMU=n
CONFIG_DT_PROVIDERS=n
CONFIG_JH7110_CRG=n
CONFIG_JH7110_PINCTRL=n
CONFIG_JH7110_UART=n
CONFIG_JH7110_MMC=n
CONFIG_JH7110_TRNG=n
CONFIG_LOONGSON_CLK=n
CONFIG_LOONGSON_PINCTRL_GPIO=n
CONFIG_PLATFORM_AHCI=n
CONFIG_LOONGSON_APBDMA=n
CONFIG_LOONGSON_SDIO=n
CONFIG_PCI_HOST_ECAM=y
CONFIG_SYSCON=y
CONFIG_LS2K_GMAC=n
CONFIG_LS2K_TSENSOR=n
CONFIG_LS2K_USB=n
CONFIG_LS2K_I2C=n
CONFIG_LS2K_SPI=n
CONFIG_LS2X_WDT=n
CONFIG_LS2K_RTC=n
CONFIG_LS7A_RTC=y
CONFIG_GOLDFISH_RTC=y
CONFIG_FW_CFG=y
CONFIG_CFI_FLASH=y
CONFIG_UART16550=y
CONFIG_RANDOM=y
CONFIG_NET_STACK=y
CONFIG_NET_LOOPBACK=y
CONFIG_LANGUAGE_RUNTIME=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
